.button {
  display: flex;
  cursor: pointer;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 5px;
}

.button:hover {
  background-color: darkgrey;
}

.button:active {
  transform: scale(.9);
}