.card {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  width: 90%;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
  border-radius: 15px;
  margin: 10px;
  padding: 0 10px;
  overflow: hidden;
}